<html>

<head>
    <meta name=renderer content=webkit>
    <title>接口调试</title>
    <style>
        .debug div {
            margin-bottom: 20px;
        }

        .debug div div {
            float: left;
        }

        .debug div>div {
            width: 110px;
        }

        .info {
            line-height: 25px;
        }
    </style>
    <link rel="stylesheet" href="public/jsonview.css">
</head>

<body>
    <form name="debug" class="debug">
        <div>
            <div>URI:</div> <input type="text" name="uri" style="width: 550px;">
        </div>
        <div>
           <div>POST json:</div> <textarea name="json" style="width: 550px;height:200px"></textarea>
        </div>
        <div>
            <div>COOKIE:</div> <textarea name="cookie" style="width: 550px;height:100px"></textarea>
        </div>
        <div>
            <div>并发数:</div> <input type="text" name="concurrency_count" value="1" style="width: 40px;">
        </div>
        <div style="margin-top: 23px;">
            <div>使用后端代理:</div>
            <div>
                是<input type="radio" name="isAgent" value="1" checked>
                否<input type="radio" name="isAgent" value="0">
            </div>
        </div>
        <br>
        <br>
        <br>
        <div>
            <div></div>
            <button type="submit">提交</button>
        </div>
    </form>

    <hr>
    <div>
        请求结果:
        <br /><br />
        <div class="info"></div>
        <div>
        </div>
    </div>
    <script src="/public/jquery.js"></script>
    <script src="/public/jsonview.js"></script>
    <script>
        var originalJsonMap = {};
        function handleResponse(data) {
            try {
                JSON.parse(data);
                data = "<span class=\"json\">" + data + "</span>&nbsp;&nbsp;<a href=\"#\" class=\"format_json\">格式化</a>";
            } catch (e) {
            }
            return data;
        }

        $("form").submit(function () {
            var uri = $("input[name='uri']").val();
            var json = $("textarea[name='json']").val();
            var isAgent = $("input[name='isAgent']:checked").val();
            var cookie = $("textarea[name='cookie']").val();
            var concurrencyCount = Math.max($("input[name='concurrency_count']").val(), 1);
            var info = "";
            var submitButton = $("form button");
            submitButton.attr("disabled", "true");

            var data, url;
            if (isAgent == 1) {
                data = JSON.stringify({
                    json: json,
                    uri: uri,
                    cookie: cookie,
                });

                url = "/debug_agent";
            } else {
                data = json;
                url = uri;
            }

            $(".info").html("");
            for (var i = 0; i < concurrencyCount; i++) {
                try {
                    $.ajax({
                        url: url,
                        data: data,
                        type: "POST",
                        contentType: "application/json",
                        success: function (res, status, xhr) {
                            if (isAgent == 1) {
                                res = JSON.parse(res);
                                if (res.status == 1) {
                                    var headers = JSON.parse(res.headers);
                                    info = "Code: " + res.http_status + "<br/>" +
                                        "Body: " + handleResponse(res.data) + "<br/>" +
                                        "Headers: " + res.headers + "<br/>";
                                } else {
                                    info = "Error: " + res.message;
                                }
                            } else {
                                if (typeof res == "object") {
                                    res = JSON.stringify(res);
                                }
                                info = "Code: " + xhr.status + " " + xhr.statusText + "<br/>" +
                                    "Body: " + handleResponse(res) + "<br/>" +
                                    "Headers: " + xhr.getAllResponseHeaders() + "<br/>";
                            }
                        },
                        error: function (xhr, err, exc) {
                            info = "Error: " + err + "-----" + exc;
                        },
                        complete: function (res) {
                            $(".info").append(info + "<hr/><br/>");

                            submitButton.removeAttr("disabled");
                        },
                    });
                } catch (e) {
                    $(".info").append(e.toString() + "<hr/><br/>");
                    submitButton.removeAttr("disabled");
                }
            }


            return false;
        });

        $("input[name='isAgent']").change(function (val) {
            var textEle = $("textarea[name='cookie']");
            if ($(this).val() == 0) {
                textEle.val("");
                textEle.attr("placeholder", "非后端代理下禁用cookie");
                textEle.attr("readonly", "readonly");
            } else {
                textEle.removeAttr("placeholder");
                textEle.removeAttr("readonly");
            }
        });

        $("body").on("click", ".format_json", function () {
            var prev = $(this).prev();
            var val = prev.text();
            prev.JSONView(val);
            $(this).removeClass("format_json").addClass("restore").text("还原");

            originalJsonMap[$(this).index()] = val;
        });

        $("body").on("click", ".restore", function () {
            var prev = $(this).prev();
            prev.text(originalJsonMap[$(this).index()]);
            $(this).removeClass("restore").addClass("format_json").text("格式化");
        });

        (function () {
            var paramString = location.href.split("?")[1].split("&");
            var params = [];
            for (var i = 0, len = paramString.length; i < len; i++) {
                var t = paramString[i].split("=");
                params[t[0]] = decodeURIComponent(t[1]);
            }
            $("input[name='uri']").val(params["uri"]);
            $("textarea[name='json']").val(params["json"]);
        })()
    </script>
</body>

</html>